.v2-campaign {
  @include grid-columns();

  background-color: #f4f4f4;
  display: grid;
  width: 100%;

  @include mq($from: tablet) {
    padding-left: 2rem;
    padding-right: 4rem;
  }

  @include mq($from: wide) {
    padding-left: 3rem;
    padding-right: 6rem;
  }

  &__inner-container {
    grid-column: full-start / full-end;
    width: 100%;
    z-index: 10;

    @include mq($from: desktop) {
      grid-column: main-start / full-end;
      margin-top: -8rem;
    }
  }

  &__content {
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .04);
    color: $secondary-color;
    padding: 2.5rem 1rem 6rem 1rem;

    @include mq($from: tablet) {
      padding-bottom: 10rem;
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 2rem;
    }

    @include mq($from: desktop) {
      padding-left: 6rem;
      padding-right: 6rem;
      padding-top: 3rem;
    }

    > .havens > h2,
    > h2 {
      @include headline-2();

      margin-bottom: 0;
      margin-top: 4rem;
      text-align: left !important;
    }

    > h3 {
      @include headline-3();

      margin-bottom: 0;
      margin-top: 2.5rem;
      text-align: left !important;
    }

    h2 + h3 {
      margin-top: 1rem;
    }

    > h4 {
      @include headline-4();

      margin-bottom: 0;
      margin-top: 1rem;
      text-align: left !important;
    }

    li,
    p:not([class]) {
      @include typo-richtext();

      margin-bottom: 0;
      text-align: left !important;
    }

    a:not([class]) {
      color: $brand-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $secondary-color;
      }
    }

    > .donate {
      margin-left: -1.5rem;
      margin-right: -1.5rem;

      @include mq($from: tablet) {
        margin-left: -4rem;
        margin-right: -4rem;
      }

      @include mq($from: desktop) {
        margin-left: -6rem;
        margin-right: -6rem;
      }
    }

    > *:first-child {
      margin-top: 0;
    }

    .map--is-large {
      left: auto;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      margin-bottom: 1rem;
      margin-top: 3rem;
      right: auto;
      width: auto;

      @include mq($from: tablet) {
        margin-left: -4rem;
        margin-right: -4rem;
      }

      @include mq($from: desktop) {
        margin-left: -6rem;
        margin-right: -6rem;
      }
    }
  }
}
