.v2-header {
  @include grid-columns();

  display: grid;
  grid-template-rows:
    [secondary] 1fr
    [menu] minmax(2.75rem, max-content)
    [logo] auto
    [end];
  margin-bottom: 2rem;

  @include mq($from: tablet) {
    grid-template-rows:
      [secondary] 3.5rem
      [menu] 3rem
      [logo] auto
      [end];
    margin-bottom: 4rem;
  }

  &--is-hero {
    background-color: rgb(40, 40, 40);
  }

  &--template-page-campaign {
    margin-bottom: 0;
  }

  &__image {
    filter: blur(0.1rem);
    grid-column: full-start / full-end;
    grid-row: secondary / end;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    width: 100%;
    z-index: 1;

    @include mq($from: tablet) {
      height: 90vh;
    }
  }

  .v2-logo {
    align-self: flex-start;
    background-color: $color-brand;
    display: flex;
    grid-column: full-start / main-start;
    grid-row: menu;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @include mq($from: mobileLarge) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    @include mq($until: tablet) {
      height: calc(100% + 5.15rem);
      margin-bottom: -2.5rem;
      margin-left: 1rem;
      margin-top: -2.5rem;
    }

    @include mq($from: mobileLarge) {
      height: calc(100% + 7.75rem);
      margin-bottom: -3rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @include mq($from: tablet) {
      grid-column: logo;
      grid-row: secondary / logo-end;
      height: auto;
      padding: 1rem 1.25rem 6rem 1.25rem;
    }
  }

  &--is-open .v2-logo {
    @include mq($until: tablet) {
      display: none;
    }
  }
}
