.v2-header-menu-list-secondary {
  @include reset-list();

  display: flex;
  grid-column-start: full-start;
  grid-column-end: full-end;
  grid-row: secondary;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  width: 100%;
  z-index: 2;

  @include mq($from: mobileLarge) {
    padding-right: 0.75rem;
  }

  @include mq($from: tablet) {
    grid-column-start: main-start;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  > li + li {
    margin-left: 0.5rem;

    @include mq($from: tablet) {
      margin-left: 0.75rem;
    }
  }

  a {
    @include fluid('font-size', 0.55, 0.7, 18, 47);
    @include fluid('padding-bottom', 0.1, 0.15, 18, 47);
    @include fluid('padding-left', 0.4, 0.6, 18, 47);
    @include fluid('padding-right', 0.4, 0.6, 18, 47);
    @include fluid('padding-top', 0.1, 0.15, 18, 47);

    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.1rem;
    color: black;
    display: block;
    font-family: $font;
    font-weight: 500;
    text-decoration: none;

    @include mq($from: tablet) {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  > li:last-child > a {
    background-color: $color-brand;
    color: white;
    font-weight: 700;
    letter-spacing: 0.025rem;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $color-brand-dark;
    }
  }
}
