.v2-header-menu-list-secondary {
  @include reset-list();

  display: flex;
  grid-column-start: full-start;
  grid-column-end: full-end;
  grid-row: secondary;
  justify-content: flex-end;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-right: 0.5rem;
  position: relative;
  width: 100%;
  z-index: 2;

  @include mq($from: mobileLarge) {
    padding-right: 0.75rem;
  }

  @include mq($from: tablet) {
    grid-column-start: main-start;
    padding-bottom: 0.85rem;
    padding-top: 0.85rem;
  }

  > li + li {
    margin-left: 0.4rem;
  }

  a {
    @include fluid('font-size', 0.75, 0.8, 18, 47);
    @include fluid('padding-bottom', 0.3, 0.3, 18, 47);
    @include fluid('padding-left', 0.45, 0.7, 18, 47);
    @include fluid('padding-right', 0.45, 0.7, 18, 47);
    @include fluid('padding-top', 0.2, 0.25, 18, 47);

    background-color: rgba(57, 57, 57, 0.6);
    border-radius: 0.1rem;
    color: white;
    display: block;
    font-family: $font;
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $color-brand;
    }
  }

  > li:last-child > a {
    background-color: $color-brand;
    color: white;

    @include mq($from: mobileLarge) {
      font-weight: 700;
      letter-spacing: 0.025rem;
    }

    &:hover,
    &:focus {
      background-color: $color-brand-dark;
    }
  }
}
