.v2-header-menu-list {
  @include reset-list();

  background-color: $color-brand-dark;
  color: white;
  display: flex;
  margin-left: 0.25rem;
  width: 100%;

  @include mq($from: mobileLarge) {
    align-items: center;
    margin-left: 0.75rem;
  }

  @include mq($from: desktop) {
    margin-left: 3rem;
  }

  > li {
    display: flex;
    height: 100%;
  }

  a {
    @include more();
    @include fluid('padding-left', 0.3, 1.5, 18, 80);
    @include fluid('padding-right', 0.3, 1.25, 18, 80);

    align-items: center;
    color: currentColor;
    display: flex;
    font-family: $font;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:not([aria-current]):hover,
    &:not([aria-current]):focus {
      background-color: lighten($color-brand-dark, 10%);
    }
  }

  .current-menu-item > a,
  .current-page-ancestor > a {
    background-color: $color-brand;
  }
}
