.v2-header-single {
  grid-column: full-start / full-end;
  grid-row: logo;
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
  position: relative;
  z-index: 2;

  @include mq($from: tablet) {
    // margin-left: .5rem;
    margin-top: 3rem;
  }

  @include mq($from: desktop) {
    // margin-left: 5rem;
  }

  .v2-header--is-hero & {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq($from: desktop) {
      // margin-left: 0;
    }
  }

  &__date {
    @include dash();
    @include typo-date();

    color: $color-brand-dark;
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;

    &:before {
      color: $color-brand;
    }
  }

  &__title {
    @include headline-1();

    color: $color-brand;
    hyphens: auto;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 56rem;

    .v2-header--is-hero & {
      @include typo-hero-title();

      text-shadow: 0 0 4px rgba(0, 0, 0, .8);
      color: white;
      hyphens: none;
      text-align: center;
    }
  }

  &__excerpt {
    @include typo-richtext();

    color: $color-brand-dark;
    font-weight: 600;
    margin-top: 1.5rem;

    > p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .v2-button {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, .2);
    margin-top: 2rem;

    @include mq($from: tablet) {
      margin-top: 5rem;
    }
  }
}
