.v2-logo {
  color: white;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 2;

  @include mq($from: tablet) {
    display: block;
    height: auto;
  }

  > svg {
    height: 100%;
    width: 100%;

    @include mq($from: tablet) {
      height: 5rem;
      width: 7rem;
    }

    @include mq($from: desktop) {
      height: 6rem;
      width: 8rem;
    }
  }

  > svg path {
    fill: currentColor;
  }
}
