.v2-main {
  margin-top: -2rem; // accommodate for a margin in .v2-header, while the transition period
  min-height: 75vh;

  @include mq($from: tablet) {
    margin-top: -4rem; // accommodate for a margin in .v2-header, while the transition period
  }
}
