.actions {
  &__list,
  &__events {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__events {
    @include mq($from: tablet) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__action {
    margin-bottom: 1rem !important;
    flex-basis: 100%;

    @include mq($from: tablet) {
      flex-basis: 50%;
      margin-bottom: 1.5rem !important;
    }

    @include mq($from: desktop) {
      flex-basis: 33.333%;
    }
  }

  &__action--wide {
    @include mq($from: desktop) {
      flex-basis: 50%;
    }
  }

  &__day + &__day {
    margin-top: 3rem;

    @include mq($from: tablet) {
      margin-top: 2.5rem;
    }
  }

  &__day-title {
    @include headline-2();

    border-bottom: 3px solid $secondary-color;
    margin-bottom: .75rem;
    margin-top: 0;
    padding-bottom: .25rem;

    @include mq($from: tablet) {
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      padding-left: 2.25rem;
    }

    // hate WP
    @at-root {
      .richtext h3#{&} {
        color: $text-color;
      }
    }
  }
}
