.actions {
  @include mq($from: desktop) {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  @include mq($from: wide) {
    margin-left: -8.5rem;
    margin-right: -8.5rem;
  }

  &__list,
  &__events {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__events {
    @include mq($from: tablet) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__action {
    flex-basis: 100%;
    margin-bottom: 1rem;

    @include mq($from: tablet) {
      flex-basis: 50%;
      margin-bottom: 2rem;
    }

    @include mq($from: desktop) {
      flex-basis: 33.333%;
    }
  }

  &__action--wide {
    @include mq($from: desktop) {
      flex-basis: 50%;
    }
  }

  &__day + &__day {
    margin-top: 3rem;

    @include mq($from: tablet) {
      margin-top: 2rem;
    }
  }

  &__day-title {
    border-bottom: 4px solid $secondary-color;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    margin-bottom: .75rem;
    margin-top: 0;
    padding-bottom: .25rem;
    padding-left: 2.6rem;

    @include mq($from: tablet) {
      font-size: 1.75rem;
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      padding-left: 4.2rem;
    }

    // hate WP
    @at-root {
      .richtext h3#{&} {
        color: $text-color;
      }
    }
  }

  &__more {
    color: $text-color;
    display: inline-block;
    font-family: $font;
    font-size: 1rem;
    font-weight: $font-weight-black;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include mq($from: tablet) {
      font-size: 1.3rem;
    }

    &:hover,
    &:focus {
      color: $brand-color;
      text-decoration: underline;
    }
  }
}
