.donate {
  background-color: $secondary-color;
  color: white;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;

  @include mq($from: tablet) {
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
  }

  &__button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: $font;
    padding: .75rem 1.75rem;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $brand-color;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
