.footer {
  background-color: $brand-color;
  color: white;
  font-family: $font;
  font-size: .85rem;
  line-height: 1.5;
  // margin-top: $space-large;
  padding: 2rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  a {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom-color: white;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $secondary-color;
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}
