.map {
  @include break-constraint;

  margin-bottom: 4rem;

  &__canvas {
    height: 550px;
    width: 100%;
  }

  &--is-in-archive &__canvas {
    height: 650px;
  }

  &__poi-label {
    font-weight: bold;
  }
}
