.news-item {
  color: currentColor !important;
  display: flex;

  &:hover,
  &:focus {
    text-decoration: none !important;
  }

  &:hover &__title-text,
  &:focus &__title-text {
    text-decoration: underline;
  }

  &__thumbnail {
    flex: 0 0 15%;
    margin: 0;

    @include mq($from: tablet) {
      flex-basis: 25%;
    }

    &-image {
      height: auto;
      width: 100%;
    }
  }

  &__content {
    margin-left: 1rem;

    @include mq($from: tablet) {
      margin-left: 1.5rem;
    }
  }

  &__title {
    @include headline-3();

    color: currentColor !important;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-transform: none !important;
  }

  &__published {
    @include dash();

    color: $brand-color;
    display: block;
    font-size: 1.15rem;
    font-weight: 400;
  }
}
