.news-list {
  list-style: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 0;

  > * + * {
    margin-top: 3rem;

    @include mq($from: desktop) {
      margin-top: 5rem;
    }
  }
}
