.supporting-organizations {
  @include break-constraint();

  background-color: #f5f5f5;;
  color: $text-color;
  padding: 2rem 2rem 1rem 2rem;

  @include mq($from: tablet) {
    padding: 3rem 0 2rem 0;
  }

  &__list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    @include mq($from: desktop) {
      margin-left: -4rem;
      margin-right: -4rem;
    }

    @include mq($from: wide) {
      margin-left: -6.5rem;
      margin-right: -6.5rem;
    }
  }

  &__organization {
    display: inline;
    margin-right: .5rem;

    @include mq($from: tablet) {
      margin-right: .8rem;
    }
  }

  &__organization-link {
    border-right: 3px solid $brand-color;
    color: currentColor;
    font-family: $font;
    font-size: .9rem;
    font-weight: $font-weight;
    line-height: 1.45;
    padding-right: .5rem;
    text-decoration: none;

    @include mq($from: tablet) {
      border-right-width: 5px;
      font-size: 1.1rem;
      padding-right: .8rem;
    }

    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
}
