.v2-block-content {
  @include grid-columns();

  color: $color-brand-dark;
  display: grid;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  @include mq($from: tablet) {
    margin-left: 2rem;
  }

  @include mq($from: desktop) {
    margin-left: 5rem;
  }

  > * {
    grid-column-start: logo;
    grid-column-end:  main-end;

    @include mq($from: tablet) {
      grid-column-start: main-start;
    }
  }

  > .wp-block-figure.wp-block-figure--is-featured {
    grid-column: logo / main-end;
    margin-bottom: 2rem;
  }

  h2 {
    @include headline-2();

    margin-bottom: 0;
    margin-top: 2.5rem;
  }

  h3 {
    @include headline-3();

    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  h4 {
    @include headline-4();

    margin-bottom: 0;
    margin-top: 1rem;
  }

  p {
    @include typo-richtext();

    margin-bottom: 0;
  }

  a {
    color: $color-brand;
  }
}
