.v2-header-single {
  grid-column: logo / main-end;
  grid-row: logo;
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;

  @include mq($from: tablet) {
    grid-column: main-start / main-end;
    margin-left: 2rem;
    margin-top: 3rem;
  }

  @include mq($from: desktop) {
    margin-left: 5rem;
  }

  &__date {
    @include dash();
    @include typo-date();

    color: $color-brand-dark;
    display: block;
    font-weight: 500;

    &:before {
      color: $color-brand;
    }
  }

  &__title {
    @include headline-1();

    color: $color-brand;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__excerpt {
    @include typo-richtext();

    color: $color-brand-dark;
    font-weight: 600;
    margin-top: 1.5rem;

    > p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
