.v2-header-menu-list {
  @include reset-list();

  background-color: $color-brand-dark;
  color: white;
  display: flex;
  margin-left: 0.25rem;
  width: 100%;

  @include mq($from: mobileLarge) {
    align-items: center;
    margin-left: 0.75rem;
  }

  @include mq($from: desktop) {
    margin-left: 3rem;
  }

  > li {
    display: flex;
    height: 100%;
  }

  a {
    @include more();

    align-items: center;
    color: currentColor;
    display: flex;
    font-family: $font;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @include mq($from: mobileLarge) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      white-space: nowrap;
    }

    @include mq($from: tablet) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &:hover,
    &:focus {
      background-color: lighten($color-brand-dark, 10%);
    }
  }
}
