.v2-header-menu-list {
  @include reset-list();

  align-items: center;
  background-color: $color-brand-dark;
  color: white;
  display: flex;
  width: 100%;

  a {
    @include more();

    color: currentColor;
    display: block;
    font-family: $font;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    @include mq($from: tablet) {
      padding: 1rem 3rem;
    }
  }
}
