@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'),
       local('WorkSans-Regular'),
       url('../fonts/Work-Sans.woff') format('woff'),
       url('../fonts/Work-Sans.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Work Sans Black'),
       local('WorkSans-Black'),
       url('../fonts/Work-Sans-Black.woff') format('woff'),
       url('../fonts/Work-Sans-Black.woff2') format('woff2');
}
