@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Work-Sans.woff2') format('woff2'),
       url('../fonts/Work-Sans.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: local('../fonts/Work-Sans-Medium.woff2') format('woff2'),
       local('../fonts/Work-Sans-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Work-Sans-Black.woff2') format('woff2'),
       url('../fonts/Work-Sans-Black.woff') format('woff');
}
