@mixin grid-columns() {
  grid-template-columns:
    [full-start] 0.5rem
    [logo] 3.5rem
    [main-start] minmax(0, 50rem)
    [main-end] minmax(0.5rem, 1fr)
    [full-end];

  @include mq($from: mobileLarge) {
    grid-template-columns:
      [full-start] 0.5rem
      [logo] 5.5rem
      [main-start] minmax(0, 50rem)
      [main-end] minmax(1rem, 1fr)
      [full-end];
  }

  @include mq($from: tablet) {
    grid-template-columns:
      [full-start] 1rem
      [logo] 9rem
      [main-start] minmax(0, 50rem)
      [main-end] minmax(1rem, 1fr)
      [full-end];
  }

  @include mq($from: desktop) {
    grid-template-columns:
      [full-start] 3rem
      [logo] 10rem
      [main-start] minmax(0, 50rem)
      [main-end] minmax(1.5rem, 1fr)
      [full-end];
  }
}

@mixin break-constraint() {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

@mixin typo-richtext() {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;

  @include mq($from: mobileLarge) {
    font-size: 18px;
  }

  @include mq($from: tablet) {
    font-size: 19px;
    line-height: 1.35;
  }

  @include mq($from: desktop) {
    font-size: 21px;
  }
}

@mixin typo-richtext-small() {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}

@mixin headline-1() {
  font-family: $font;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.1;

  @include mq($from: mobileLarge) {
    font-size: 34px;
  }

  @include mq($from: tablet) {
    font-size: 38px;
  }

  @include mq($from: desktop) {
    font-size: 48px;
  }
}

@mixin headline-2() {
  font-family: $font;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;

  @include mq($from: mobileLarge) {
    font-size: 30px;
  }

  @include mq($from: tablet) {
    font-size: 34px;
  }

  @include mq($from: desktop) {
    font-size: 44px;
  }
}

@mixin headline-3() {
  font-family: $font;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;

  @include mq($from: mobileLarge) {
    font-size: 26px;
  }

  @include mq($from: tablet) {
    font-size: 30px;
  }

  @include mq($from: desktop) {
    font-size: 40px;
  }
}

@mixin headline-4() {
  font-family: $font;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

@mixin more() {
  @include fluid('font-size', 0.55, 0.9, 18, 47);

  font-family: $font;
  font-weight: 600;
  line-height: 1.2;

  @include mq($from: desktop) {
    font-size: 17px;
    letter-spacing: 0.025rem;
  }
}

@mixin typo-date() {
  font-family: $font;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;

  @include mq($from: mobileLarge) {
    font-size: 16px;
  }

  @include mq($from: tablet) {
    font-size: 18px;
  }

  @include mq($from: desktop) {
    font-size: 20px;
  }
}

@mixin typo-hero-title() {
  font-family: $font;
  font-size: 34px;
  font-weight: 800;
  line-height: 1;

  @include mq($from: mobileLarge) {
    font-size: 45px;
  }

  @include mq($from: tablet) {
    font-size: 56px;
  }

  @include mq($from: desktop) {
    font-size: 72px;
  }
}

@mixin dash() {
  &:before {
    content: '—';
  }
}

@mixin reset-list() {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

// Scale [unit] from: [min]rem to [max]rem, starting at [start]rem until [stop]rem
@mixin fluid($property_name, $min, $max, $start, $stop) {
  #{$property_name}: calc( #{$min + 'rem'} + ( #{$max} - #{$min} ) * ((100vw - #{$start + 'rem'} ) / ( #{$stop} - #{$start} )));
}
