.action-single {
  &__meta-container {
    @include break-constraint;

    background-color: $secondary-color;
    color: white;
    margin-bottom: 4rem;
    margin-top: -4rem;
    overflow-x: hidden;
    padding-bottom: 1.5rem;
    padding-top: 2rem;

    dt,
    dd {
      font-size: 1rem;
      line-height: 1.5;

      @include mq($from: tablet) {
        font-size: 1.25rem;
        line-height: 2;
      }
    }

    dd {
      display: block;
    }

    dd svg {
      color: $brand-color;
      height: 1.2rem;
      left: 0;
      margin-right: .5rem;
      position: absolute;
      top: .6rem;
      vertical-align: middle;
      width: 1.2rem;
    }

    dd a {
      border-bottom: 1px solid lighten($secondary-color, 20%);
      color: currentColor;
      overflow: hidden;
      padding-bottom: .2rem;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: $brand-color;
      }
    }
  }

  &__meta-term {
    @include mq($from: tablet) {
      text-align: right;
      width: 5rem;
    }
  }

  &__meta-value {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 2rem;
    position: relative;
  }
}
