.action {
  display: flex;
  flex-direction: row;
  font-family: $font;

  &__icon-container {
    margin-right: 1rem;
    margin-top: .4rem;

    @include mq($from: tablet) {
      margin-right: 1.25rem;
      margin-top: 1.2rem;
    }

    > a {
      color: $brand-color;
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;

      @include mq($from: tablet) {
        height: 2.75rem;
        width: 2.75rem;
      }
    }
  }

  &__meta {
    color: $text-color;
    font-size: 1rem;

    @include mq($from: tablet) {
      font-size: 1.2rem;
      margin-bottom: -.15rem;
    }
  }

  &__title {
    font-size: 1.35rem;
    letter-spacing: .05rem;
    line-height: 1.2;
    margin-bottom: .25rem;
    margin-top: 0;
    text-transform: uppercase;

    @include mq($from: tablet) {
      font-size: 1.8rem;
    }

    @include mq($from: desktop) {
      font-size: 1.4rem;
    }

    > a {
      color: $text-color;
      position: relative;
      text-decoration: none;

      &:before {
        border-bottom: 2px solid lighten($brand-color, 10%);
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:hover,
      &:focus {
        color: $brand-color;
      }
    }
  }

  &__time {
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: none;
  }

  &__content {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;

    @include mq($from: tablet) {
      font-size: 1.2rem;
    }

    @include mq($from: desktop) {
      font-size: 1.05rem;
      padding-right: 1rem;
    }
  }
}
