.become-supporter {
  @include break-constraint();

  color: $text-color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: $font;
  list-style: none;
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;

  &__item {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }

  &__item + &__item {
    margin-left: 4rem;
  }

  &__icon-container {
    $size: 8rem;

    align-items: center;
    background-color: $brand-color;
    border-radius: 50%;
    display: flex;
    color: white;
    height: $size;
    justify-content: center;
    margin: 0 auto 2rem auto;
    width: $size;

    > svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: $font-weight-black;
    margin-bottom: .5rem;
    margin-top: 0;
    text-transform: uppercase;
  }

  &__content {
    font-size: 1.15rem;
    line-height: 1.4;

    > p > a {
      color: $brand-color;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
