.become-supporter {
  color: $text-color;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: $font;
  list-style: none;
  margin-bottom: 4rem;
  padding: 1.5rem 0;

  @include mq($from: desktop) {
    @include break-constraint();

    background-color: #f5f5f5;
    flex-direction: row;
    padding: 3rem 4rem;
  }

  &__item {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }

  &__item + &__item {
    margin-top: 2.5rem;

    @include mq($from: desktop) {
      margin-left: 4rem;
      margin-top: 0;
    }
  }

  &__icon-container {
    align-items: center;
    background-color: $brand-color;
    border-radius: 50%;
    display: flex;
    color: white;
    height:  4.5rem;
    justify-content: center;
    margin: 0 auto 2rem auto;
    width:  4.5rem;

    @include mq($from: desktop) {
      height: 8rem;
      width: 8rem;
    }

    > svg {
      height: 1.75rem;
      width: 1.75rem;

      @include mq($from: desktop) {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }

  &__title {
    font-size: 1.15rem;
    font-weight: $font-weight-black;
    margin-bottom: .75rem;
    margin-top: 0;
    text-transform: uppercase;

    @include mq($from: desktop) {
      font-size: 1.45rem;
      margin-bottom: 1rem;
    }
  }

  &__content {
    font-size: 1rem;
    line-height: 1.4;

    @include mq($from: desktop) {
      font-size: 1.05rem;
    }

    > p > a {
      color: $brand-color;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
