.burger-menu {
  appearance: none;
  background-color: darken($secondary-color, 5%);
  border: 0;
  display: inline-block;
  margin: 0;
  padding: 0.3rem 1rem 0.25rem 1rem;

  &__icon {
    color: white;
    height: 1.5rem;
    width: 1.5rem;
  }

  &__label {

  }
}
