.burger-menu {
  appearance: none;
  background-color: darken($secondary-color, 5%);
  border: 0;
  display: inline-block;
  margin: 0;
  padding: 0.35rem 1rem;

  &:hover,
  &:focus {
    background-color: $brand-color;
    cursor: pointer;
  }

  &__icon {
    color: white;
    height: 1.75rem;
    width: 1.75rem;
  }
}
