.donate {
  @include break-constraint();

  background-color: $secondary-color;
  color: white;
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
  text-align: center;

  &__button {
    background-color: transparent;
    border: 2px solid currentColor;
    border-radius: 3px;
    color: currentColor;
    display: inline-block;
    font-family: $font;
    padding: .75rem 1.75rem;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $brand-color;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
