.header {
  background-color: $brand-color;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 4rem;
  position: relative;

  &--small {
    height: 50vh;
  }

  &--without-image {
    height: auto;
    min-height: 25vh;
  }

  &__logo,
  &__logo-container,
  &__language-switcher {
    z-index: 3;
  }

  &__content {
    z-index: 2;
  }

  &__logo-container {
    display: inline-block;
  }

  &__logo,
  &__language-switcher {
    position: absolute;
    top: 1.5rem;
  }

  &__language-switcher {
    display: flex;
    justify-content: flex-end;
    right: 3rem;
  }

  &__logo {
    left: 3rem;
    width: 12.5rem;
  }

  &__content {
    color: white;
    font-family: $font;
    margin-top: 6rem;
    text-align: center;
  }

  &__title {
    font-size: 3.8rem;
    font-weight: $font-weight-bold;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .1);
  }

  &--without-image &__title {
    font-size: 2.4rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  &__action {
    background-color: $brand-color;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    margin-top: 3rem;
    padding: 1rem 2rem;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: darken($brand-color, 10%);
      cursor: pointer;
    }
  }

  &__image {
    min-height: 100%;
    left: 50%;
    min-width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
    width: auto;
  }

  &__additional-content {
    font-size: .8rem;
    font-weight: $font-weight-bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 250px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .8);

    a {
      color: currentColor;
      text-decoration: underline;
    }
  }
}
