.header {
  background-color: beige;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__language-switcher,
  &__content {
    z-index: 2;
  }

  &__language-switcher {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 1.5rem;
  }

  &__content {
    color: white;
    font-family: $font;
    text-align: center;
  }

  &__title {
    font-size: 3.4rem;
    font-weight: $font-weight;
    line-height: 1.1;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }

  &__action {
    background-color: $brand-color;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 1.15rem;
    font-weight: $font-weight-bold;
    margin-top: 1rem;
    padding: .75rem 1.5rem;
    text-decoration: none;
  }

  &__image {
    min-height: 100%;
    left: 50%;
    min-width: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: auto;
  }
}
