.header {
  background-color: $brand-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 4rem;
  position: relative;

  @include mq($from: tablet) {
    justify-content: center;
  }

  &--small {
    height: 50vh;
  }

  &--without-image {
    height: auto;

    @include mq($from: tablet) {
      min-height: 25vh;
    }
  }

  &__logo,
  &__logo-container,
  &__language-switcher {
    z-index: 3;
  }

  &__content {
    z-index: 2;
  }

  &__logo-container {
    display: inline-block;
  }

  &__logo,
  &__language-switcher {
    top: 0;

    @include mq($from: tablet) {
      position: absolute;
      top: 1.5rem;
    }
  }

  &__language-switcher {
    display: flex;
    justify-content: flex-end;
    right: 2rem;
  }

  &__logo {
    display: inherit;
    fill: white;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;

    @include mq($from: tablet) {
      left: 1rem;
      top: .5rem;
      transform: none;
      width: 14rem;
    }

    @include mq($from: desktop) {
      width: 16rem;
    }
  }

  &__content {
    color: white;
    font-family: $font;
    margin-top: 2rem;
    text-align: center;

    @include mq($from: tablet) {
      margin-top: 4rem;
    }
  }

  &--without-image &__content {
    margin-top: 0;

    @include mq($from: tablet) {
      margin-top: 6rem;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: $font-weight-black;
    line-height: 1.1;
    margin: 0 2rem;
    text-align: center;
    text-transform: uppercase;
    word-break: break-word;

    @include mq($from: tablet) {
      font-size: 2.8rem;
    }

    @include mq($from: desktop) {
      font-size: 3.6rem;
    }
  }

  &--without-image &__title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 0;

    @include mq($from: tablet) {
      font-size: 2rem;
      margin-bottom: 4rem;
      margin-top: 4rem;
    }

    @include mq($from: desktop) {
      font-size: 2.4rem;
    }
  }

  &__action,
  &__secondary-action {
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    color: white;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);

    &:hover,
    &:focus {
      cursor: pointer;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__action {
    background-color: $brand-color;
    font-size: 1rem;
    font-weight: $font-weight-black;
    margin-top: 2rem;
    padding: .75rem 1.5rem;
    text-transform: uppercase;

    @include mq($from: tablet) {
      font-size: 1.2rem;
      margin-top: 3rem;
      padding: 1rem 2rem;
    }

    &:hover,
    &:focus {
      background-color: darken($brand-color, 10%);
    }
  }

  &__secondary-action {
    background-color: $secondary-color;
    font-size: .9rem;
    font-weight: $font-weight;
    margin-top: 1.5rem;
    padding: .85rem 1.25rem;

    &:hover,
    &:focus {
      background-color: darken($secondary-color, 10%);
    }
  }

  &__image {
    min-height: 100%;
    left: 50%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
    width: auto;
  }

  &__additional-content {
    font-size: .8rem;
    font-weight: $font-weight;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 250px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .8);

    a {
      color: currentColor;
      text-decoration: underline;
    }
  }
}
