.language-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include mq($until: tablet) {
    background-color: white;
    padding-bottom: .5rem;
    padding-top: .4rem;
    width: 100%;
  }

  &__label {
    color: $text-color;
    font-family: $font;
    font-size: .7rem;
    font-weight: $font-weight;
    line-height: 1;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-top: 0;
    position: relative;
    top: .3rem;

    @include mq($from: tablet) {
      color: white;
      font-size: .8rem;
      top: .2rem;
    }
  }

  &__languages {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  &__item {
    & + & {
      margin-left: .25rem;
    }
  }

  &__language {
    color: $brand-color;
    font-family: $font;
    font-size: .65rem;
    font-weight: $font-weight;
    line-height: 1;
    margin: 0 .4rem;
    padding-bottom: .1rem;
    text-decoration: none;
    text-transform: uppercase;

    @include mq($from: tablet) {
      color: white;
      font-size: .8rem;
      font-weight: $font-weight-black;
      letter-spacing: .02rem;
      margin-left: .25rem;
      margin-right: .25rem;
      padding-bottom: .18rem;
    }
  }

  &__language:not(&__language--is-active):hover,
  &__language:not(&__language--is-active):focus {
    border-bottom: 2px solid white;
  }

  &__language--is-active {
    border-bottom: 1px solid transparentize($brand-color, .5);

    @include mq($from: tablet) {
      border-bottom-width: 2px;
    }
  }
}
