.language-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__label {
    color: currentColor;
    display: none;
    font-family: $font;
    font-size: .65rem;
    font-weight: $font-weight;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-top: 0;
    position: relative;
    top: 0.15rem;

    @include mq($from: tablet) {
      display: inline-block;
    }
  }

  &__languages {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  &__item {
    @include mq($from: tablet) {
      & + & {
        margin-left: .15rem;
      }
    }
  }

  &__language {
    color: currentColor;
    font-family: $font;
    font-size: .5rem;
    font-weight: $font-weight;
    letter-spacing: 0.075rem;
    line-height: 1;
    margin: 0 .4rem;
    padding-bottom: .1rem;
    text-decoration: none;
    text-transform: uppercase;

    @include mq($from: tablet) {
      font-size: .65rem;
      margin-left: .25rem;
      margin-right: .25rem;
    }
  }

  &__language--is-active,
  &__language:hover,
  &__language:focus {
    border-bottom: 1px solid white;

    @include mq($from: tablet) {
      border-bottom-width: 2px;
    }
  }
}
