.language-switcher {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;
  margin-right: 2rem;
  margin-top: 0;
  padding-left: 0;

  &__item {
    & + & {
      margin-left: .5rem;
    }
  }

  &__language {
    background-color: $brand-color;
    color: white;
    font-family: $font;
    font-size: .7rem;
    letter-spacing: .02rem;
    line-height: 1;
    padding: .45rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__language--is-active {
    background-color: darken($brand-color, 15%);
    font-weight: $font-weight-bold;
  }
}
