.logo {
  color: white;

  > svg {
    height: 5rem;
    width: 8rem;

    @include mq($from: tablet) {
      height: 8.5rem;
      width: 11.5rem;
    }
  }

  > svg path {
    fill: currentColor;
  }
}
