.logo {
  color: white;
  display: block;

  > svg {
    height: 2.3rem;
    width: 3rem;

    @include mq($from: mobileLarge) {
      height: 2.5rem;
    }

    @include mq($from: tablet) {
      height: 5rem;
      width: 7rem;
    }

    @include mq($from: desktop) {
      height: 6rem;
      width: 8rem;
    }
  }

  > svg path {
    fill: currentColor;
  }
}
