.logo {
  color: white;
  display: block;

  > svg {
    height: 4rem;
    width: 6rem;

    @include mq($from: tablet) {
      height: 6rem;
      width: 8rem;
    }
  }

  > svg path {
    fill: currentColor;
  }
}
