.map {
  @include break-constraint;

  margin-bottom: 4rem;

  // move the map close to the the header in archive pages
  &--is-in-archive {
    margin-top: -4rem;
  }

  &__canvas {
    height: 550px;
    width: 100%;
  }

  &--is-in-archive &__canvas {
    height: 650px;
  }

  &__poi-label {
    font-weight: bold;
  }
}
