.menu {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 0;
  list-style: none;
  line-height: 1;
  margin: 0;
  padding: 0;

  > li {
    height: 100%;
  }

  > li + li {
    border-top: 1px solid lighten($secondary-color, 10%);

    @include mq($from: tablet) {
      border-left: 1px solid lighten($secondary-color, 10%);
      border-top: 0;
    }
  }

  @include mq($from: tablet) {
    > li:last-child {
      background-color: darken($secondary-color, 5%);
      border-left: none;
      align-self: flex-end;
      margin-left: auto;
    }
  }

  @include mq($from: tablet) {
    > li:last-child > a {
      font-weight: $font-weight-black;
      letter-spacing: 0.075rem;
      text-transform: uppercase;
    }
  }

  a {
    color: currentColor;
    display: block;
    font-size: 0.75rem;
    font-family: $font;
    font-weight: $font-weight;
    letter-spacing: 0.025rem;
    padding: 0.65rem 0.75rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    @include mq($from: tablet) {
      font-size: 1rem;
      padding: 0.75rem 1rem;
      text-align: left;
    }
  }

  li.current-menu-item > a,
  a:hover,
  a:focus {
    background-color: darken($secondary-color, 5%);
  }
}
