.navigation {
  color: white;
  left: 0;
  padding-top: 0.25rem;
  position: absolute;
  top: 0.5rem;
  width: 100%;
  z-index: 10;

  @include mq($from: tablet) {
    top: 1.5rem;
  }

  &__language-switch {
    position: absolute;
    right: 0.75rem;
    top: -0.25rem;
  }

  &__container {
    background-color: $secondary-color;
    color: white;
    display: flex;
    flex-direction: column;
    height: 2.25rem;
    margin-top: 1rem;
    padding-left: 7.5rem;
    width: 100%;

    @include mq($from: desktop) {
      flex-direction: row;
      height: 2.5rem;
      padding-left: 12rem;
    }
  }

  &__logo {
    bottom: -0.1rem;
    position: absolute;
    left: 1rem;

    @include mq($from: tablet) {
      bottom: -0.65rem;
      position: absolute;
      left: 2rem;
    }

    @include mq($from: desktop) {
      bottom: -0.5rem;
    }
  }

  &__language-switcher {
    align-self: flex-end;
    display: flex;
    margin-left: auto;
  }

  &__burger-container {
    display: flex;
    justify-content: flex-end;

    @include mq($from: desktop) {
      display: none;
    }
  }
}
