.richtext {
  color: $text-color;
  padding-left: 2rem;
  padding-right: 2rem;

  @include mq($from: desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  &--single {
    padding-bottom: 5rem;
    padding-top: 3rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font;
    font-weight: $font-weight-black;
    line-height: 1.2;
    text-transform: uppercase;
  }

  h2 {
    color: $brand-color;
    font-size: 1.4rem;
    font-weight: $font-weight-black;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    letter-spacing: .02rem;
    text-align: center;

    @include mq($from: tablet) {
      font-size: 2rem;
      margin-bottom: 2rem;
      margin-top: 3rem;
    }

    @include mq($from: desktop) {
      margin-top: 4rem;
    }
  }

  h3 {
    color: $brand-color;
    font-size: 1.4rem;
    font-weight: $font-weight-black;

    @include mq($from: tablet) {
      font-size: 1.6rem;
    }
  }

  * + h2 {
    margin-top: 5rem;
  }

  * + h3 {
    margin-top: 1.5rem;
  }

  > address {
    font-style: normal;
  }

  > ol,
  > ul,
  > address,
  > p {
    font-family: $font;
    font-size: 1.05rem;
    line-height: 1.45;

    @include mq($from: tablet) {
      font-size: 1.25rem;
    }
  }

  > p + p {
    margin-top: 2rem;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  > a,
  > address > p > a,
  > p > a,
  > p > small > a {
    color: $brand-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
