.richtext {
  color: $text-color;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font;
    font-weight: $font-weight-bold;
    line-height: 1.2;
  }

  h2 {
    color: $brand-color;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    margin-top: 4rem;
  }

  p {
    font-family: $font;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  > p + p {
    margin-top: 2rem;
  }
}
