.richtext {
  color: $text-color;
  padding-left: 2rem;
  padding-right: 2rem;

  @include mq($from: desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font;
    font-weight: $font-weight-black;
    line-height: 1.2;
    text-transform: uppercase;
  }

  h2 {
    color: $brand-color;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    text-align: center;
  }

  * + h2 {
    margin-top: 5rem;
  }

  > p {
    font-family: $font;
    font-size: 1.3rem;
    line-height: 1.45;
  }

  > p + p {
    margin-top: 2rem;
  }

  > a,
  > p > a {
    color: $brand-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
