.support {
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
  color: lighten($text-color, 15%);
  display: flex;
  flex-direction: row;
  font-family: $font;
  line-height: 1;
  margin-top: -4rem;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;

  &__label {
    font-size: 1.2rem;
    font-style: normal;
    margin-right: 1.2rem;
  }

  &__item {
    color: currentColor;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;

    &:hover,
    &:focus {
      color: $brand-color;
      cursor: pointer;
    }

    > svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__item + &__item {
    margin-left: .75rem;
  }
}
